    .nav {
        &_pc {
            @include nottab {
                height: 60px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 25px;
                box-sizing: border-box;
                position: fixed;
                align-items: center;
                z-index: 9999;
                top: 0;
                transition: top .4s;

                &.active {
                    top: 0;
                }
            }

            @include tab {
                display: none;
            }

            &__sub-inr {
                background-color: #F5F5F5;
                padding: 0 32px;
                position: absolute;
                height: 50px;
                display: none;
                width: 100vw;
                top: 60px;
                left: 0;
                box-sizing: border-box;

                &.active {
                    display: flex;
                }

                .p-unker__link {
                    margin: 0 auto !important;

                    &__cell {
                        margin-bottom: 0 !important;
                    }
                }
            }

            &__top {
                display: block;
                width: 87px;

                img {
                    width: 100%;
                }
            }

            &__link {
                display: flex;
                align-items: center;

                &__cell {
                    &:not(:first-child) {
                        margin-left: 40px;
                    }

                    a {
                        color: $col_gray-d;
                        font-size: 1.6rem;
                        @include en-store;
                        font-style: italic;

                        img {
                            align-self: center;
                        }
                    }

                }
            }

            &__sns {
                display: flex;
                align-items: center;

                &__cell {
                    &:not(:first-child) {
                        margin-left: 20px;
                    }

                    a {
                        display: block;

                        img {
                            align-self: center;
                        }
                    }

                }
            }
        }

        &_sp {
            @include notsp {
                display: none;
            }

            &--top {
                height: 60px;
                background-color: white;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                position: fixed;
                top: 0;
                transition: all .4s;
                z-index: 99999;

                .toplink {
                    display: block;
                    margin: auto 0;
                    margin-right: auto;
                    height: 16px;
                }

                .nav-icon {
                    width: 33px;
                    height: 16px;
                    margin: auto 0;
                    position: relative;

                    span {
                        width: 100%;
                        height: 2px;
                        background-color: $col_gray;
                        display: block;
                        position: absolute;
                        transition: all .4s;

                        &:first-child {
                            top: 0;
                        }

                        &:last-child {
                            bottom: 0;
                        }
                    }
                }

                &.active {
                    .nav-icon {
                        span {
                            &:first-child {
                                transform: translate3d(0, 14px, 0) rotate(45deg);
                                top: -6px;
                            }

                            &:last-child {
                                transform: translate3d(0, -12px, 0) rotate(-45deg);
                                bottom: -6px;
                            }
                        }
                    }
                }
            }

            &--bottom {
                height: calc(100vh - 120px);
                position: fixed;
                top: 60px;
                left: 100%;
                width: 100%;
                z-index: 9999;
                background-color: white;
                box-sizing: border-box;
                padding: 0 44px;
                padding-top: 50px;
                transition: left .4s;

                .bottom__inr {
                    overflow-y: scroll;
                    height: 100%;

                }

                .bottom__cell {
                    margin-bottom: 18px;

                    &--name {

                        a,
                        p {
                            font-size: 2.4rem;
                            @include en-store;
                            font-style: italic;
                            color: $col_gray;
                            display: block;
                            font-weight: 400;
                            letter-spacing: .2em;

                        }

                        &.accordion {
                            display: flex;
                            align-items: center;

                            p {
                                margin-right: 20px;
                            }

                            img {
                                align-self: center;
                            }

                            &.open {
                                img {
                                    transform: rotate('180deg');
                                }
                            }
                        }
                    }

                    &--detail {
                        padding: 30px 0;
                        display: none;

                        a {
                            @include en-store;
                            font-size: 1.4rem;
                            font-style: italic;
                            color: $col_gray;
                            display: block;

                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

                &.slidein {
                    left: 0;
                }
            }
        }

        &_fixedbtn {
            @include notsp {
                display: none;
            }

            @include sp {
                position: fixed;
                z-index: 999999;
                bottom: 0;
                width: 100%;
                display: flex;
                height: 60px;
                padding: 12px 0;
                box-sizing: border-box;
                background-color: white;
                transition: all .4s;

                &--tel {
                    max-width: 262px;
                    border-right: 1px solid $col_gray;
                    padding: 0 46px;
                }

                &--mail {
                    display: block;
                    margin: auto;
                }

            }
        }
    }

    .page-template-page-ww,
    .home {

        .nav_pc,
        .nav_sp--top {
            top: -60px;
        }

        .active {
            &.nav_pc {
                top: 0;
            }
        }

        .nav_sp.active {
            .nav_sp--top {
                top: 0;
            }
        }

        .nav_fixedbtn {
            bottom: -60px;

            &.active {
                bottom: 0;
            }
        }
    }

    .page-template-page-ww,
    .single {
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
        font-family: 'Open Sans', apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic Medium", system-ui, sans-serif;

        &.overflow {
            overflow: hidden;
        }

        p,
        a,
        li,
        dt,
        dd,
        h1,
        h2,
        h3 {
            color: $col_gray-d2;
        }

        .p- {
            &ico_world {
                width: 30px;
                height: 30px;
                display: block;
            }

            &heading {
                &__view {
                    width: 100%;
                    position: relative;
                    background-size: cover;
                    background-repeat: no-repeat;

                    @include notsp {
                        height: 445px;
                    }

                    @include sp {
                        height: 266px;
                    }
                }

                &__inr {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: 100%;

                    &--img {
                        width: 80px;
                        display: block;
                        margin: auto;

                        @include notsp {
                            margin-bottom: 60px;
                        }

                        @include sp {
                            margin-bottom: 20px;
                        }
                    }

                    &--title {
                        color: white;
                        text-align: center;
                        font-weight: 400;
                        font-style: italic;

                        @include notsp {
                            font-size: 4.5rem;
                            margin-bottom: 30px;
                        }

                        @include sp {
                            font-size: 3rem;
                            margin-bottom: 25px;
                        }
                    }

                    &--detail {
                        line-height: 2em;
                        text-align: center;
                        color: white;
                        font-weight: 400;

                        @include notsp {
                            font-size: 1.6rem;
                        }

                        @include sp {
                            font-size: 1.4rem;

                        }
                    }
                }
            }

            &unker {
                &__link {
                    display: flex;
                    margin: 170px 0 140px;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    @include sp {
                        margin: 40px 0 50px;
                    }

                    &__cell {
                        display: flex;
                        margin-bottom: 15px;

                        &:not(:last-child) {
                            &:after {
                                content: "";
                                display: block;
                                width: 16px;
                                height: 16px;
                                background-image: url(../img/ww/img_separate.svg);
                            }
                        }

                        a {
                            color: $col_gray-d2;
                            @include en-store;
                            font-style: italic;
                            margin: 0 30px;
                            font-size: 14px;
                            border-bottom: 1px solid white;
                            letter-spacing: .1em;
                            transition: all .4s;
                            cursor: pointer;

                            @include sp {
                                margin: 0 10px;
                            }

                            &:hover {
                                color: $col_gray;
                                opacity: 1;
                                border-bottom: 1px solid $col_gray;
                            }
                        }

                        &.menu-active {
                            a {
                                color: $col_gray;
                                opacity: 1;
                                border-bottom: 1px solid $col_gray;
                            }
                        }
                    }

                    img {
                        align-self: center;

                    }
                }
            }

            &pairing {
                &__module {
                    @include max1084;

                    @include notsp {
                        padding-bottom: 220px;
                    }

                    @include sp {
                        padding-bottom: 100px;
                    }

                }

                &__heading {
                    text-align: center;
                    font-size: 2.4rem;
                    color: $col_gray-d2;
                    @include en-store;
                    font-style: italic;

                    @include notsp {
                        margin-bottom: 60px;
                    }

                    @include sp {
                        margin-bottom: 30px;
                    }

                    &--sub {
                        text-align: center;
                        font-size: 1.4rem;
                        margin-bottom: 40px;
                        line-height: 2em;

                        @include sp {
                            text-align: left;

                            br {
                                display: none;
                            }
                        }
                    }
                }

                &__list {
                    max-width: 1000px;
                    margin: auto;

                    &__cell {
                        &:not(:last-child) {
                            @include notsp {
                                margin-bottom: 100px;
                            }
                        }
                    }

                    &__title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;

                        p {
                            @include en-store;
                            font-size: 1.9rem;
                            font-style: italic;
                        }

                        img {
                            align-self: center;
                        }

                        .separate {
                            margin: 0 10px;
                        }

                        .p-ico_world {
                            margin-right: 5px;

                        }

                    }

                    &__opt {
                        text-align: center;
                        font-size: 1.4rem;
                        letter-spacing: .2em;
                    }

                    &__flex {
                        display: flex;

                        @include notsp {
                            justify-content: space-between;
                        }

                        @include sp {
                            flex-direction: column;
                            margin-top: 40px;
                        }
                    }

                    &__comp {
                        display: flex;

                        @include notsp {
                            width: 40%;
                            flex-direction: column;
                            align-items: center;
                        }

                        @include sp {
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;

                        }

                        img {
                            max-width: 300px;
                            align-self: center;

                            @include notsp {
                                margin-bottom: 30px;
                            }

                            @include sp {
                                width: 130px;
                            }
                        }

                        &__name {

                            width: 100%;

                            @include notsp {
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 30px;
                            }

                            @include sp {
                                width: calc(100% - 150px);
                            }

                            .name {
                                font-size: 1.8rem;
                                line-height: 1.8em;

                                @include sp {
                                    font-size: 1.6rem;
                                    margin-bottom: 20px;
                                }
                            }

                            .price {
                                font-weight: 600;
                                font-style: italic;
                                font-size: 1.8rem;
                                line-height: 1.8em;

                                @include sp {
                                    font-size: 1.6rem;
                                }
                            }
                        }

                        &__list {
                            width: 100%;

                            @include sp {
                                display: none;
                            }

                            li {
                                display: flex;
                                margin-bottom: 15px;
                                justify-content: space-between;

                                .name {
                                    font-size: 1.4rem;
                                }

                                .price {
                                    font-weight: 600;
                                    font-style: italic;
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }

                    &__center {

                        @include notsp {
                            max-width: 130px;
                            margin-top: 85px;
                        }

                        @include sp {
                            width: 45px;
                            margin: 15px auto;
                        }
                    }
                }
            }

            &contact {
                &__area {
                    max-width: 880px;
                    width: 100%;
                    margin: auto;
                }

                &__inr {
                    @include notsp {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                &__cell {
                    border: 1px solid $col_gray;
                    box-sizing: border-box;
                    display: block;

                    @include notsp {
                        width: 48.8%;
                        padding: 24px;
                    }

                    @include sp {
                        width: 100%;
                        padding: 20px;

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                    }

                    &--title {
                        font-size: 1.8rem;
                        text-align: center;
                        margin-bottom: 15px;
                    }

                    &--num {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;

                        p {
                            font-size: 2.6rem;
                            font-weight: 600;
                            font-style: italic;

                            @include sp {
                                font-size: 1.8rem;
                            }
                        }

                        img {
                            margin-right: 10px;
                            align-self: center;
                        }
                    }

                    &--opt {
                        font-size: 1.2rem;
                        text-align: center;
                    }

                    &.tell {
                        @include notsp {
                            pointer-events: none;
                        }
                    }
                }

                &__attention {
                    font-size: 1.4rem;
                    line-height: 1.6em;
                    margin-top: 30px;
                }
            }
        }

        #sec_single-contents {
            padding-top: 150px;
            display: flex;
            max-width: 1200px;

            .sidebar {
                width: 32%;

                @include sp {
                    display: none;
                }

                .single-cattitle {
                    @include en-store;
                    font-weight: 400;
                    font-size: 4rem;
                    text-align: center;
                    color: #707070;
                    font-style: italic;
                    position: sticky;
                    top: 180px;
                }
            }

            .main-contents {
                width: 58%;
                padding-top: 110px;
                display: block;

                @include sp {
                    margin: auto;
                    width: 90%;
                    padding-top: 0;
                }

                .post__date {
                    @include en-store;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #707070;
                    font-style: italic;
                }

                .post__title {
                    font-size: 2.2rem;
                    margin: 30px 0;
                    line-height: 1.6em;

                    @include sp {
                        font-size: 1.8em;
                    }
                }

                .post__content {
                    padding-bottom: 70px;
                    border-bottom: 1px solid #707070;

                    p {
                        font-size: 1.6rem;
                        line-height: 1.8em;

                    }
                }

                p {
                    color: #3C3C3C;
                }

                .under-nav {
                    padding-top: 70px;
                    display: flex;
                    justify-content: space-between;

                    .prev,
                    .next {
                        display: flex;
                        align-items: center;
                        max-width: 300px;

                        img {
                            width: 30px;
                            height: 30px;
                            align-self: center;
                        }

                        a {
                            font-size: 1.4rem;
                            line-height: 1.6em;
                            color: #707070;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }

                    .prev {
                        img {
                            margin-right: 20px;
                        }
                    }

                    .next {
                        img {
                            margin-left: 20px;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .nav-store {
            background-color: white;
            width: 100%;
            display: flex;
            position: fixed;
            padding: 20px 0;
            box-sizing: border-box;
            top: 0;

            .totop {
                display: block;
                margin-left: 30px;
            }
        }

        .store--mainv {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .store__heading {
            font-size: 4rem;
            text-align: center;
            @include en-store;
            font-style: italic;
            font-weight: 400;
            color: #707070;
            margin-bottom: 40px;
        }

        .store--link {
            display: flex;
            justify-content: center;
            margin: auto;
            margin-top: 64px;
            flex-wrap: wrap;
            width: 80%;

            &__cell {

                padding: 10px;

                @include sp {
                    width: 24%;
                }

                a,
                p {
                    @include en-store;
                    font-size: 1.6rem;
                    font-style: italic;
                    font-weight: 400;
                }

                a {
                    color: #89919B;
                }

                p {
                    color: #CDD0D3;
                }
            }
        }

        #sec_store--catch {
            padding-top: 120px;
            width: 90%;
            margin: auto;

            @include sp {
                padding-top: 60px;
            }

            .sec_store {
                &__detail {
                    max-width: 720px;
                    margin: auto;
                    margin-top: 130px;
                    border: 1px solid $col_gray;
                    box-sizing: border-box;
                    padding: 40px;

                    @include sp {
                        padding: 30px;
                    }

                    &--logo {
                        width: 85px;
                        display: block;
                        margin: auto;
                        margin-bottom: 45px;
                    }

                    &--list {
                        width: 100%;

                        &__cell {
                            >dl {

                                margin-bottom: 10px;

                                @include notsp {
                                    display: flex;
                                }

                                dt,
                                dd {
                                    font-size: 1.4rem;
                                    line-height: 1.8em;
                                }

                                dt {
                                    @include notsp {
                                        width: 90px;
                                    }

                                    @include sp {
                                        font-weight: 600;
                                    }
                                }

                                dd {
                                    @include notsp {
                                        width: calc(100% - 90px);
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .main-text {
                @include normal;
                font-size: 3.2rem;
                text-align: center;
                margin-bottom: 70px;
                line-height: 1.6em;

                @include sp {
                    font-size: 2.2rem;
                }
            }

            .sub-text {
                font-size: 1.8rem;
                text-align: center;
                line-height: 3em;

                @include sp {
                    font-size: 1.6rem;
                    line-height: 2.4em;
                    text-align: justify;

                    br {
                        display: none;
                    }
                }
            }
        }


        #sec_store--pickup {
            padding-top: 174px;

            @include sp {
                padding-top: 80px;
                padding-bottom: 30px;
            }

            .pickup__list {
                @include max1084;
                display: flex;

                .slick-list {
                    width: 100%;
                }

                &__cell {
                    box-sizing: border-box;

                    @include notsp {
                        width: 30.5%;
                        max-width: 300px;
                    }

                    @include sp {
                        width: 100%;
                        max-width: 100%;
                    }

                    &:not(:nth-child(3n)) {

                        @include notsp {
                            margin-right: 4.25%;
                        }
                    }

                    &--image {
                        width: 100%;
                        padding-top: 56%;
                        display: block;
                        background-image: url(../img/ww/post--thumb.svg);
                        background-size: cover;
                        margin-bottom: 30px;

                    }

                    &--title {
                        font-size: 1.6rem;
                        line-height: 1.6em;
                        font-weight: 400;
                    }

                    &--date {
                        font-size: 1.6rem;
                        font-weight: 400;
                        font-style: italic;
                        color: #89919B;
                        margin-bottom: 10px;
                        display: block;
                    }
                }
            }
        }

        #sec_store--news {
            padding-top: 174px;
            padding-bottom: 270px;

            @include sp {
                padding-top: 80px;
                padding-bottom: 80px;
            }

            .news__list {
                @include max1084;
                display: flex;
                flex-wrap: wrap;

                &__cell {
                    box-sizing: border-box;
                    width: 21.58%;

                    @include sp {
                        width: 48%;
                        margin-bottom: 40px;
                    }

                    &:not(:nth-child(4n)) {

                        @include notsp {
                            margin-right: calc(13.68% / 3);
                        }
                    }

                    &:nth-child(odd) {
                        @include sp {
                            margin-right: 4%;
                        }
                    }

                    &--image {
                        width: 100%;
                        padding-top: 56%;
                        display: block;
                        background-image: url(../img/ww/post--thumb.svg);
                        background-size: cover;
                        margin-bottom: 30px;

                        @include sp {
                            margin-bottom: 10px;
                        }
                    }

                    &--title {
                        font-size: 1.6rem;
                        line-height: 1.6em;
                        font-weight: 400;
                    }

                    &--date {
                        font-size: 1.6rem;
                        font-weight: 400;
                        font-style: italic;
                        color: #89919B;
                        margin-bottom: 10px;
                        display: block;
                    }
                }
            }
        }

        #sec_store--group {
            margin-bottom: 70px;
            padding-top: 160px;

            @include sp {
                padding-top: 100px;
            }

            .group--title {
                font-style: italic;
                font-size: 1.8rem;
                text-align: center;
                color: #89919B;
                margin-bottom: 50px;
            }

            .group--list {
                display: flex;
                align-items: center;
                justify-content: center;

                &__cell {
                    &:first-child {
                        margin-right: 50px;
                    }

                    img {
                        align-self: center;
                    }
                }
            }
        }

        .store-footer {
            &--top {
                background-color: #F5F6F8;
                padding: 40px 0 90px;

                .top-- {
                    &img {
                        width: 138px;
                        margin: auto;
                        margin-bottom: 30px;
                        display: block;
                    }

                    &text {
                        font-size: 1.4rem;
                        text-align: center;
                        line-height: 1.6em;
                        color: $col_gray;
                        margin-bottom: 23px;

                        a {
                            color: $col_gray;
                            text-decoration: underline;

                            @include notsp {
                                margin-left: 20px;
                                font-size: 1.4rem;
                            }

                            @include sp {
                                font-size: 1.6rem;
                                text-align: center;
                                margin-top: 10px;
                            }
                        }

                        @include sp {
                            font-size: 1.2rem;
                        }
                    }

                    &time {
                        font-size: 1.2rem;
                        text-align: center;
                        line-height: 1.6em;
                        color: $col_gray;
                        margin-bottom: 56px;
                    }

                    &link {
                        display: block;
                        width: fit-content;
                        margin: auto;
                        margin-bottom: 16px;
                    }

                    &copyright {
                        font-style: italic;
                        font-size: 1.4rem;
                        text-align: center;
                        color: #CACDD0;

                        @include sp {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

        }

        #sec_pairing {
            .p-heading__view {
                @include notsp {
                    background-image: url(../img/ww/mainv_pairing.jpg);
                }

                @include sp {
                    background-image: url(../img/ww/mainv_pairing_sp.jpg);
                }
            }

            .country_txt {
                font-size: 1.4rem;
                text-align: center;
                margin: 80px 0 20px;
                line-height: 1.6em;
            }

            .country_list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                @include notsp {
                    max-width: 800px;
                    margin: auto;
                }

                @include sp {
                    width: 85%;
                    margin: auto;
                }

                &__cell {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;

                    @include notsp {
                        width: calc(100% / 3);

                        &:nth-child(3n) {
                            width: auto;
                        }
                    }

                    @include sp {
                        width: 50%;
                    }

                    &--icon {
                        align-self: center;
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;

                        @include sp {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &--name {
                        @include en-store;
                        font-style: italic;
                        font-size: 1.9rem;

                        @include sp {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

        #sec_menu {
            .p-heading__view {
                @include notsp {
                    background-image: url(../img/ww/mainv_menu.jpg);
                }

                @include sp {
                    background-image: url(../img/ww/mainv_menu_sp.jpg);
                }
            }

            .menu-content {
                max-width: 1000px;
                width: 100%;
                margin: auto;

                &__module {
                    width: 100%;
                    display: none;

                    &.menu-show {
                        display: block;
                    }

                    &__wrap {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                }

                &__title {
                    border-bottom: 1px solid $col_gray-d;
                    width: 100%;

                    p {
                        font-size: 1.8rem;
                        text-align: center;
                        line-height: 1.8em;
                        padding-bottom: 10px;

                        @include sp {
                            font-size: 1.4rem;
                            font-weight: 600;
                        }
                    }

                    &--wbeer {
                        display: flex;
                        justify-content: center;

                    }

                    &--en {
                        margin-right: 10px;
                        @include en-store;
                        font-style: italic;
                    }
                }


                &__inr {
                    padding-top: 30px;
                    width: 100%;

                    @include sp {
                        margin: auto;
                        width: 90%;
                    }

                    &__cell {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;

                    }
                }

                &__cell {
                    width: 47%;
                    margin-bottom: 30px;

                    @include sp {
                        width: 100%;
                    }

                    &__double {
                        width: 100%;

                        .menu-content__inr {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            &__cell {
                                width: 47%;

                                @include sp {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                &__name {
                    font-size: 1.4rem;
                    line-height: 1.6em;

                    @include notsp {
                        width: 80%;

                    }
                }

                &__price {
                    font-size: 1.8rem;
                    font-weight: 600;
                    font-style: italic;

                }

                &__icon {
                    width: 30px;
                    height: 30px;
                    background-size: cover;
                    display: block;
                    margin-right: 10px;
                }

            }
        }

        #sec_party {
            .p-heading__view {
                @include notsp {
                    background-image: url(../img/ww/mainv_party.jpg);
                }

                @include sp {
                    background-image: url(../img/ww/mainv_party_sp.jpg);
                }
            }

            .party-content {
                &__module {
                    max-width: 1000px;
                    width: 90%;
                    margin: auto;
                    margin-bottom: 170px;

                    @include sp {
                        margin-bottom: 80px;
                    }
                }

                &__inr {}

                &--party {
                    &__attention {
                        font-size: 1.4rem;
                        line-height: 1.8em;
                        margin: 40px 0;
                    }

                    &__top {

                        @include notsp {
                            display: flex;
                            justify-content: space-between;
                        }

                        &--image {
                            width: 47%;

                            @include sp {
                                width: 100%;
                                margin-bottom: 40px;
                            }

                            img {
                                width: 100%;

                                &:not(:first-of-type) {
                                    margin-top: 70px;

                                    @include sp {
                                        margin-top: 15px;
                                    }
                                }
                            }
                        }

                        &--text {
                            width: 47%;

                            @include sp {
                                width: 100%;
                            }

                            .course-- {
                                &name {
                                    font-size: 2.2rem;
                                    margin-bottom: 20px;
                                    line-height: 1.6em;

                                    @include sp {
                                        font-size: 2rem;
                                    }

                                    span {
                                        @include notsp {
                                            display: none;
                                        }
                                    }

                                    br {
                                        @include sp {
                                            display: none;
                                        }
                                    }
                                }

                                &title {
                                    margin: 20px 0 15px;
                                    font-size: 1.6rem;
                                    line-height: 1.6em;
                                }

                                &menu {
                                    margin-bottom: 55px;
                                    padding-top: 28px;
                                    border-top: 1px solid $col_gray;

                                    &--cell {
                                        margin-bottom: 10px;
                                    }

                                    .title {
                                        font-size: 1.4rem;
                                        line-height: 1.6em;
                                        margin-bottom: 5px;
                                    }

                                    .detail {
                                        font-size: 1.2rem;
                                        line-height: 1.6em;
                                    }

                                    &--attention {
                                        font-size: 1.2rem;
                                        line-height: 1.6em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #sec_store--contact {
            .p-heading__view {
                @include notsp {
                    background-image: url(../img/ww/mainv_contact.jpg);
                }

                @include sp {
                    background-image: url(../img/ww/mainv_contact_sp.jpg);
                }
            }

            .store--contact__inr {
                @include max1084;
                margin-top: 170px;

                @include sp {
                    margin-top: 80px;
                }
            }

            .p-contact__attention {
                display: none;
            }
        }
    }