@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Noto+Sans+JP&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

img {
  max-width: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

@media (max-width: 812px) {
  .pc {
    display: none; } }

@media (min-device-width: 812px) {
  .notdev-tab {
    display: none; } }

@media (min-width: 813px) {
  .sp {
    display: none; } }

.js-scroll-fade {
  position: relative;
  opacity: 0;
  transform: translate(0, 40px);
  transition: all 1s cubic-bezier(0.155, 0.91, 0.695, 0.95); }
  .js-scroll-fade.is-animation {
    opacity: 1;
    transform: translate(0, 0); }

::-webkit-scrollbar {
  display: none; }

@media all and (-ms-high-contrast: none) {
  div,
  p,
  a,
  section,
  img {
    flex-shrink: 0; } }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: black;
  transition: opacity .4s; }
  a:hover {
    opacity: .66; }

a,
p {
  letter-spacing: .1em; }

img {
  align-self: flex-start; }

body {
  font-family: 'Noto Sans CJK JP', sans-serif;
  color: black; }
  body.hidden {
    overflow: hidden; }
  body:not(.home) main {
    padding-top: 68px; }

.c--firstV {
  height: 335px;
  position: relative;
  background-size: cover;
  background-position: center; }
  @media (max-width: 812px) {
    .c--firstV {
      height: 182px; } }
  .c--firstV .firstV-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 700px;
    width: 70%; }
    .c--firstV .firstV-txt_detail {
      color: white;
      line-height: 2em; }
      @media (max-width: 812px) {
        .c--firstV .firstV-txt_detail {
          display: none; } }
    .c--firstV .firstV-txt_title {
      color: white;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 20px; }
      @media (max-width: 812px) {
        .c--firstV .firstV-txt_title {
          font-size: 24px; } }

.c--ico_new {
  background-color: #005200;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  line-height: 1;
  padding: 8px 13px; }

.c--caption .cap-top {
  color: #0A950A;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  display: table;
  margin: auto;
  letter-spacing: 0;
  font-size: 14px; }

.c--caption .cap-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px; }
  @media (max-width: 480px) {
    .c--caption .cap-bottom {
      margin-bottom: 30px; } }
  .c--caption .cap-bottom h2 {
    color: #005200;
    font-size: 30px;
    font-weight: bold;
    line-height: 1; }
    @media (max-width: 480px) {
      .c--caption .cap-bottom h2 {
        font-size: 20px; } }
  .c--caption .cap-bottom img {
    margin-left: 10px; }

.c--btn_more {
  border: 1px solid #005200;
  border-radius: 6px;
  background-color: transparent;
  transition: all .4s;
  color: #005200;
  display: block;
  position: relative;
  max-width: 184px;
  text-align: center; }
  @media (max-width: 480px) {
    .c--btn_more {
      border-radius: 5px; } }
  .c--btn_more:before {
    content: "";
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-top: 1px solid #005200;
    border-right: 1px solid #005200;
    transform: rotate(45deg);
    position: absolute; }
  .c--btn_more:hover {
    background-color: #005200;
    color: white;
    opacity: 1; }
    .c--btn_more:hover:before {
      border-top: 1px solid white;
      border-right: 1px solid white; }
  .c--btn_more p {
    font-size: 14px;
    margin: 20px 0;
    font-weight: bold; }
    @media (max-width: 480px) {
      .c--btn_more p {
        margin: 14px 0; } }
  .c--btn_more.en p {
    font-family: 'Lato', sans-serif; }
  .c--btn_more.white {
    color: white;
    border: 1px solid white; }
    .c--btn_more.white:before {
      border-top: 1px solid white;
      border-right: 1px solid white; }
    .c--btn_more.white:hover {
      background-color: white;
      color: #005200;
      opacity: 1; }
      .c--btn_more.white:hover:before {
        border-top: 1px solid #005200;
        border-right: 1px solid #005200; }

.c--lang_form {
  display: table-cell;
  border-bottom: 1px solid #377B0D;
  position: relative;
  padding-bottom: 3px;
  min-width: 165px; }
  .c--lang_form-ico1 {
    position: absolute; }
  .c--lang_form-arrow {
    margin-bottom: -2px;
    transition: all .4s; }
  .c--lang_form .sort_form--top {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer; }
  .c--lang_form .sort_form--bottom {
    display: none; }
  .c--lang_form .select {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-style: italic;
    font-size: 16px;
    min-width: 90px;
    padding-left: 34px;
    letter-spacing: .1em; }
  .c--lang_form .sort_form--bottom li a {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: italic;
    cursor: pointer; }
  .c--lang_form.active .c--lang_form-arrow {
    transform: rotate(180deg); }

.c--footer {
  background: black;
  width: 100%;
  padding: 80px 0 24px; }
  @media (max-width: 812px) {
    .c--footer {
      padding: 50px 0 42px; } }
  .c--footer .c--footer_inr {
    max-width: 1200px;
    width: 83.33333333%;
    display: block;
    margin: auto;
    color: white; }
  .c--footer .c--footer_pc-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    @media (max-width: 812px) {
      .c--footer .c--footer_pc-links {
        display: none; } }
    .c--footer .c--footer_pc-links dl {
      width: 30.4%; }
      .c--footer .c--footer_pc-links dl dt,
      .c--footer .c--footer_pc-links dl dd {
        line-height: 1; }
      .c--footer .c--footer_pc-links dl dt {
        font-size: 1.125rem;
        margin-bottom: 20px; }
      .c--footer .c--footer_pc-links dl dd {
        font-size: .875rem;
        padding: 14px 0;
        padding-left: 25px;
        border-top: 1px solid #444444; }
        .c--footer .c--footer_pc-links dl dd:last-child {
          border-bottom: 1px solid #444444; }
        .c--footer .c--footer_pc-links dl dd a {
          color: white; }
  .c--footer .c--footer_sns {
    display: flex;
    justify-content: center; }
    .c--footer .c--footer_sns a:not(:last-child) {
      margin-right: 10px; }
      @media (max-width: 812px) {
        .c--footer .c--footer_sns a:not(:last-child) {
          margin-right: 22px; } }
    .c--footer .c--footer_sns a img {
      align-self: center; }
  .c--footer .c--footer_hash {
    display: block;
    margin: 20px auto 50px; }
    @media (max-width: 812px) {
      .c--footer .c--footer_hash {
        margin: 18px auto 40px; } }
  .c--footer .c--footer_offer, .c--footer .c--footer_copy {
    text-align: center;
    font-size: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0; }
  .c--footer .c--footer_offer {
    margin-bottom: 12px; }
    @media (max-width: 812px) {
      .c--footer .c--footer_offer {
        margin-bottom: 22px; } }
  @media (max-width: 812px) {
    .c--footer .c--footer_copy {
      font-size: 12px;
      line-height: 2em; } }

@media (max-width: 812px) {
  .nav_pc {
    display: none; } }

.nav_pc #nav-container {
  background: black;
  height: 68px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .nav_pc #nav-container .nav-content-right {
    display: flex;
    position: relative; }
    .nav_pc #nav-container .nav-content-right .nav-content-links {
      display: flex;
      align-items: center;
      margin-right: 170px; }
      .nav_pc #nav-container .nav-content-right .nav-content-links a {
        line-height: 1;
        color: white;
        font-size: 14px; }
        .nav_pc #nav-container .nav-content-right .nav-content-links a:not(:last-child)::after {
          content: "";
          margin: 0 18px;
          border-right: 1px solid #377B0D; }
  .nav_pc #nav-container .c--lang_form {
    padding-bottom: 0;
    min-width: 120px;
    width: 140px;
    position: absolute;
    right: 0; }
    .nav_pc #nav-container .c--lang_form .c--lang_form-ico1 {
      width: 15%; }
    .nav_pc #nav-container .c--lang_form .sort_form--bottom {
      background: black;
      box-sizing: border-box;
      padding: 10px;
      margin-top: 10px;
      padding-left: 35px; }
      .nav_pc #nav-container .c--lang_form .sort_form--bottom li {
        margin-bottom: 10px; }
        .nav_pc #nav-container .c--lang_form .sort_form--bottom li a {
          color: white;
          line-height: 1; }
    .nav_pc #nav-container .c--lang_form img {
      align-self: center; }

.nav_sp {
  display: none; }
  @media (max-width: 812px) {
    .nav_sp {
      display: block; } }
  .nav_sp #nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9999999;
    pointer-events: none; }
    .nav_sp #nav-container .bg {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: calc(100% - 70px);
      visibility: hidden;
      opacity: 0;
      transition: .3s;
      background: #000;
      pointer-events: none;
      display: none; }
    .nav_sp #nav-container:focus-within .bg {
      visibility: visible;
      opacity: .6;
      display: block; }
    .nav_sp #nav-container * {
      visibility: visible; }
  .nav_sp .fix-area {
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: all; }
    .nav_sp .fix-area img {
      align-self: center; }
    .nav_sp .fix-area .nav_logo {
      margin-left: 20px; }
  .nav_sp .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 38px;
    cursor: pointer;
    pointer-events: auto;
    margin-right: 20px;
    margin-left: auto;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent; }
  .nav_sp .icon-bar {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: .3s; }
    .nav_sp .icon-bar + .icon-bar {
      margin-top: 10px; }
  .nav_sp #nav-container:focus-within .button {
    pointer-events: none; }
  .nav_sp #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 12px, 0) rotate(45deg); }
  .nav_sp #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0; }
  .nav_sp #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -12px, 0) rotate(-45deg); }
  .nav_sp #nav-content {
    margin-top: 70px;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: white;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(121, 91, 91, 0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
    overflow-y: auto; }
    .nav_sp #nav-content .nav-content-top {
      display: flex;
      flex-direction: column; }
      .nav_sp #nav-content .nav-content-top li {
        border-bottom: 1px solid #E5E5E5;
        padding: 20px; }
        .nav_sp #nav-content .nav-content-top li a {
          display: block;
          text-transform: uppercase;
          color: black;
          display: flex;
          width: 100%;
          justify-content: space-between;
          line-height: 1;
          font-size: 1rem; }
        .nav_sp #nav-content .nav-content-top li:not(.small) + .small {
          margin-top: auto; }
    .nav_sp #nav-content .nav-content-bottom {
      padding: 22px;
      padding-bottom: 40px; }
      .nav_sp #nav-content .nav-content-bottom .c--lang_form .sort_form--top {
        align-items: center; }
        .nav_sp #nav-content .nav-content-bottom .c--lang_form .sort_form--top img {
          align-self: center; }
        .nav_sp #nav-content .nav-content-bottom .c--lang_form .sort_form--top .select {
          color: black; }
      .nav_sp #nav-content .nav-content-bottom .c--lang_form .sort_form--bottom li {
        padding: 15px; }
    .nav_sp #nav-content .nav-content-otherlinks {
      margin-top: 35px; }
      .nav_sp #nav-content .nav-content-otherlinks a {
        line-height: 1;
        font-size: .875rem;
        margin-bottom: 23px;
        display: block;
        color: black; }
        .nav_sp #nav-content .nav-content-otherlinks a:last-of-type {
          margin-bottom: 0; }
  .nav_sp #nav-container:focus-within #nav-content {
    transform: none; }

#sec_recommend {
  padding: 100px 0 90px;
  background-color: #F4F4F4; }
  @media (max-width: 480px) {
    #sec_recommend {
      padding: 30px 0; } }
  @media (max-width: 480px) {
    #sec_recommend .c--btn_more p {
      margin: 17px 0; } }
  #sec_recommend .menu-list {
    display: flex;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 90px;
    flex-wrap: wrap; }
    #sec_recommend .menu-list-cell {
      width: 48%;
      cursor: pointer;
      margin-bottom: 75px; }
      #sec_recommend .menu-list-cell:nth-of-type(n+3) {
        margin-bottom: 0; }
      @media (max-width: 480px) {
        #sec_recommend .menu-list-cell {
          width: 100%;
          margin-bottom: 30px; }
          #sec_recommend .menu-list-cell:not(:last-child) {
            margin-bottom: 40px; } }
      #sec_recommend .menu-list-cell .cell-img_wrapper {
        position: relative;
        border-radius: 8px;
        display: block;
        overflow: hidden;
        padding-top: 62.2%;
        background-size: cover; }
        #sec_recommend .menu-list-cell .cell-img_wrapper .c--ico_new {
          position: absolute;
          top: 0; }
      #sec_recommend .menu-list-cell .cell-img_cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: black;
        opacity: 0;
        transition: opacity .4s; }
        #sec_recommend .menu-list-cell .cell-img_cover img {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto; }
      #sec_recommend .menu-list-cell .cell-title {
        display: table;
        font-size: 20px;
        color: #005200;
        font-weight: bold;
        margin-top: 15px;
        line-height: 1.5em; }
        @media (max-width: 480px) {
          #sec_recommend .menu-list-cell .cell-title {
            font-size: 1rem; } }
      #sec_recommend .menu-list-cell .cell-pp {
        display: flex;
        justify-content: space-between;
        margin-top: 20px; }
        #sec_recommend .menu-list-cell .cell-pp-place {
          color: #54B517;
          display: flex; }
          #sec_recommend .menu-list-cell .cell-pp-place img {
            margin-right: 5px;
            margin-top: 2px; }
          @media (max-width: 480px) {
            #sec_recommend .menu-list-cell .cell-pp-place p {
              display: table; } }
        #sec_recommend .menu-list-cell .cell-pp-price {
          color: #005200;
          font-weight: 500; }
      #sec_recommend .menu-list-cell:hover {
        opacity: 1; }
        #sec_recommend .menu-list-cell:hover .cell-img_cover {
          opacity: .4; }
  #sec_recommend .c--btn_more {
    width: 100%;
    max-width: 440px;
    margin: auto; }
    @media (max-width: 480px) {
      #sec_recommend .c--btn_more {
        width: 90%; } }

#sec_select-genre {
  padding: 100px 0 90px; }
  @media (max-width: 480px) {
    #sec_select-genre {
      padding: 60px 0; } }
  #sec_select-genre .view-pc {
    max-width: 1000px;
    width: 90%;
    margin: auto; }
    @media (max-width: 480px) {
      #sec_select-genre .view-pc {
        display: none; } }
    #sec_select-genre .view-pc a {
      position: relative;
      border-radius: 8px;
      overflow: hidden; }
      #sec_select-genre .view-pc a .link-name {
        color: white;
        font-family: 'Noto Sans CJK JP', 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.625rem;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
    #sec_select-genre .view-pc_top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.353%; }
      #sec_select-genre .view-pc_top .link-garden {
        width: 66.312%; }
      #sec_select-genre .view-pc_top .link-build {
        width: 32.335%; }
    #sec_select-genre .view-pc_bottom {
      display: flex;
      justify-content: space-between; }
      #sec_select-genre .view-pc_bottom .link-culture {
        width: 32.335%; }
      #sec_select-genre .view-pc_bottom .link-tri {
        width: 66.023%; }
        #sec_select-genre .view-pc_bottom .link-tri-top {
          display: flex;
          justify-content: space-between;
          padding-bottom: 2.06%; }
          #sec_select-genre .view-pc_bottom .link-tri-top .link-person,
          #sec_select-genre .view-pc_bottom .link-tri-top .link-nature {
            width: 48.97%; }
        #sec_select-genre .view-pc_bottom .link-tri .link-onsen {
          width: 100%;
          display: block; }
  #sec_select-genre .view-sp {
    max-width: 100%;
    overflow: hidden; }
    @media (min-width: 481px) {
      #sec_select-genre .view-sp {
        display: none; } }
    #sec_select-genre .view-sp-cell {
      margin: 0 10px; }
      #sec_select-genre .view-sp-cell-link {
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        display: block; }
        #sec_select-genre .view-sp-cell-link .link-name {
          color: white;
          font-family: 'Noto Sans CJK JP', 'Lato', sans-serif;
          font-weight: 500;
          font-size: 1.375rem;
          line-height: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
    #sec_select-genre .view-sp .slick-dots li {
      margin: 0; }
      #sec_select-genre .view-sp .slick-dots li button:before {
        content: "•";
        color: #C1C1C1;
        opacity: 1; }
      #sec_select-genre .view-sp .slick-dots li.slick-active button:before {
        color: #005200; }

#sec_select-area {
  background-color: #F4F4F4;
  padding: 100px 0 90px; }
  @media (max-width: 480px) {
    #sec_select-area {
      padding: 60px 0; } }
  #sec_select-area .area-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: auto; }
    @media (max-width: 480px) {
      #sec_select-area .area-wrapper {
        height: auto; } }
    #sec_select-area .area-wrapper #area-desc-slide {
      width: 50%;
      max-width: 520px; }
      @media (max-width: 480px) {
        #sec_select-area .area-wrapper #area-desc-slide {
          width: 100%; } }
      #sec_select-area .area-wrapper #area-desc-slide .slick-arrow {
        background-color: #005200;
        width: 36px;
        height: 54px;
        top: 50%; }
        @media (max-width: 480px) {
          #sec_select-area .area-wrapper #area-desc-slide .slick-arrow {
            transform: initial;
            width: 30px;
            background: transparent;
            z-index: 100; } }
        #sec_select-area .area-wrapper #area-desc-slide .slick-arrow:before {
          top: 0;
          bottom: 0;
          margin: auto;
          width: 16px;
          height: 16px;
          border-top: 1.5px solid white;
          border-right: 1.5px solid white;
          position: absolute; }
          @media (max-width: 480px) {
            #sec_select-area .area-wrapper #area-desc-slide .slick-arrow:before {
              border-top: 3px solid white;
              border-right: 3px solid white;
              opacity: 1; } }
      #sec_select-area .area-wrapper #area-desc-slide .slick-next {
        right: -36px;
        border-radius: 0 10px 10px 0; }
        @media (max-width: 480px) {
          #sec_select-area .area-wrapper #area-desc-slide .slick-next {
            top: 83px;
            border-radius: 0;
            right: 0; } }
        #sec_select-area .area-wrapper #area-desc-slide .slick-next:before {
          content: "";
          right: 15px;
          transform: rotate(45deg); }
      #sec_select-area .area-wrapper #area-desc-slide .slick-prev {
        left: -36px;
        border-radius: 10px 0 0 10px; }
        @media (max-width: 480px) {
          #sec_select-area .area-wrapper #area-desc-slide .slick-prev {
            top: 83px;
            border-radius: 0;
            left: 0px; } }
        #sec_select-area .area-wrapper #area-desc-slide .slick-prev:before {
          content: "";
          left: 15px;
          transform: rotate(-135deg); }
      #sec_select-area .area-wrapper #area-desc-slide .area-desc-cell {
        display: block;
        border-radius: 8px;
        overflow: hidden; }
        @media (max-width: 480px) {
          #sec_select-area .area-wrapper #area-desc-slide .area-desc-cell {
            border-radius: 8px 8px 0 0; } }
      #sec_select-area .area-wrapper #area-desc-slide .area-desc-img {
        width: 100%;
        display: block;
        line-height: 0; }
        #sec_select-area .area-wrapper #area-desc-slide .area-desc-img img {
          object-fit: cover; }
      #sec_select-area .area-wrapper #area-desc-slide .area-desc-txt {
        background-color: black;
        box-sizing: border-box;
        padding: 16px 24px; }
        @media (max-width: 480px) {
          #sec_select-area .area-wrapper #area-desc-slide .area-desc-txt {
            height: auto; } }
      #sec_select-area .area-wrapper #area-desc-slide .area-desc-name {
        color: white;
        font-size: 26px;
        text-align: center;
        margin-bottom: 20px; }
      #sec_select-area .area-wrapper #area-desc-slide .area-desc-detail {
        color: white;
        font-size: .875rem;
        line-height: 2em;
        letter-spacing: .05em; }
        @media (max-width: 480px) {
          #sec_select-area .area-wrapper #area-desc-slide .area-desc-detail {
            font-size: 1rem; } }
    #sec_select-area .area-wrapper #area-map-slide {
      width: 36%;
      max-width: 370px; }
      @media (max-width: 480px) {
        #sec_select-area .area-wrapper #area-map-slide {
          display: none; } }

#tours-menu {
  padding: 76px 0 160px; }
  @media (max-width: 480px) {
    #tours-menu {
      padding: 30px 0; } }
  #tours-menu .tours-menu-wrap {
    max-width: 1000px;
    margin: auto;
    width: 90%; }
  #tours-menu .tours-menu-links {
    display: none; }
    @media (max-width: 480px) {
      #tours-menu .tours-menu-links {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 30px; }
        #tours-menu .tours-menu-links a {
          width: 48%;
          background-color: #005200;
          color: white;
          border-radius: 6px;
          padding: 16px 0;
          font-weight: bold;
          font-size: .75rem;
          text-align: center; } }
  #tours-menu .tours-menu-cell {
    width: 100%;
    display: flex;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    overflow: hidden; }
    #tours-menu .tours-menu-cell:not(:last-child) {
      margin-bottom: 40px; }
    @media (max-width: 480px) {
      #tours-menu .tours-menu-cell {
        flex-direction: column;
        border: none;
        overflow: unset;
        border-radius: unset; } }
    #tours-menu .tours-menu-cell .c--ico_new {
      position: absolute;
      top: 0;
      left: 0; }
    #tours-menu .tours-menu-cell_img {
      width: 50%;
      padding-top: 36.5%;
      background-size: cover;
      position: relative; }
      @media (max-width: 480px) {
        #tours-menu .tours-menu-cell_img {
          width: 100%;
          padding-top: 60%; } }
    #tours-menu .tours-menu-cell_txt {
      width: 50%;
      padding: 30px;
      box-sizing: border-box; }
      @media (max-width: 480px) {
        #tours-menu .tours-menu-cell_txt {
          width: 100%;
          padding: 10px 0; } }
      #tours-menu .tours-menu-cell_txt .title {
        display: table;
        font-size: 20px;
        color: #005200;
        font-weight: bold;
        margin-top: 15px;
        line-height: 1.6em; }
        @media (max-width: 480px) {
          #tours-menu .tours-menu-cell_txt .title {
            font-size: 16px; } }
      #tours-menu .tours-menu-cell_txt .place {
        color: #54B517;
        display: flex;
        margin: 20px 0; }
        #tours-menu .tours-menu-cell_txt .place img {
          margin-right: 5px;
          margin-top: 2px; }
      #tours-menu .tours-menu-cell_txt .deep {
        margin-bottom: 20px; }
        #tours-menu .tours-menu-cell_txt .deep img {
          margin-bottom: 10px; }
        #tours-menu .tours-menu-cell_txt .deep p {
          font-size: .875rem;
          line-height: 1.8em; }
          @media (max-width: 480px) {
            #tours-menu .tours-menu-cell_txt .deep p {
              font-size: .75rem; } }
      #tours-menu .tours-menu-cell_txt .price-detail {
        display: flex;
        justify-content: space-between; }
        #tours-menu .tours-menu-cell_txt .price-detail .price {
          border: 1px solid #005200;
          border-radius: 6px;
          width: 48%; }
          #tours-menu .tours-menu-cell_txt .price-detail .price p {
            color: #005200;
            font-weight: bold;
            padding: 15px 0;
            text-align: center; }
            @media (max-width: 480px) {
              #tours-menu .tours-menu-cell_txt .price-detail .price p {
                font-size: 14px; } }
        #tours-menu .tours-menu-cell_txt .price-detail .detail {
          width: 48%;
          background-color: #A50F0F;
          border-radius: 6px;
          transition: all .4s; }
          #tours-menu .tours-menu-cell_txt .price-detail .detail p {
            color: white;
            padding: 15px 0;
            font-weight: bold;
            text-align: center; }
            @media (max-width: 480px) {
              #tours-menu .tours-menu-cell_txt .price-detail .detail p {
                font-size: 14px; } }
          #tours-menu .tours-menu-cell_txt .price-detail .detail:hover {
            border: 1px solid #A50F0F;
            background-color: white;
            opacity: 1; }
            #tours-menu .tours-menu-cell_txt .price-detail .detail:hover p {
              color: #A50F0F; }

body {
  background: white; }

.home .nav_pc #nav-container,
.home .nav_sp #nav-container {
  opacity: 0;
  transition: .4s;
  pointer-events: none; }
  .home .nav_pc #nav-container .fix-area,
  .home .nav_sp #nav-container .fix-area {
    pointer-events: none; }

.home .nav_pc.animateActive #nav-container,
.home .nav_sp.animateActive #nav-container {
  opacity: 1; }
  @media (min-width: 813px) {
    .home .nav_pc.animateActive #nav-container,
    .home .nav_sp.animateActive #nav-container {
      pointer-events: all; } }
  .home .nav_pc.animateActive #nav-container .fix-area,
  .home .nav_sp.animateActive #nav-container .fix-area {
    pointer-events: all; }

@media (max-width: 812px) {
  .home .nav_sp .fix-area {
    display: none;
    pointer-events: none; }
  .home .nav_sp.animateActive .fix-area {
    display: flex;
    pointer-events: all; } }

.home #mainv {
  height: 100vh;
  position: relative; }
  @media (max-width: 812px) {
    .home #mainv {
      height: auto; } }
  .home #mainv .mainv--area_img {
    height: calc(100vh - 44px);
    background: #ccc;
    background-size: cover;
    position: relative; }
    @media (max-width: 812px) {
      .home #mainv .mainv--area_img {
        height: calc(100vh - 50px); } }
    .home #mainv .mainv--area_img .scroll-bar {
      height: 60px;
      width: 1px;
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
      overflow: hidden;
      background-color: #444444;
      z-index: 1;
      transition: all 900ms;
      position: absolute;
      right: 30px;
      bottom: 50px; }
      @media (max-width: 812px) {
        .home #mainv .mainv--area_img .scroll-bar {
          display: none; } }
      .home #mainv .mainv--area_img .scroll-bar span {
        height: 60%;
        width: 1px;
        background-color: white;
        filter: blur(0.5px);
        animation: scroll 960ms 1920ms infinite;
        position: relative;
        display: block; }

@keyframes scroll {
  from {
    top: -120%; }
  to {
    top: 120%; } }
    @media screen and (max-width: 768px) {
      .home #mainv .mainv--area_img .footer {
        padding: 80px 0 77px; } }
    .home #mainv .mainv--area_img .logo_wow {
      position: absolute;
      margin: auto;
      top: 25%;
      left: 0;
      right: 0; }
    .home #mainv .mainv--area_img .mainv--nav {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 32px;
      box-sizing: border-box; }
      @media (max-width: 812px) {
        .home #mainv .mainv--area_img .mainv--nav {
          display: flex;
          align-items: center;
          padding: 14px 20px; } }
      @media (max-width: 812px) {
        .home #mainv .mainv--area_img .mainv--nav .nav_logo {
          position: absolute;
          top: 26px; } }
      .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_pc {
        display: flex; }
        .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_pc li {
          list-style: none; }
          @media (max-width: 812px) {
            .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_pc li {
              display: none; } }
          .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_pc li:not(:last-child):after {
            content: "／";
            color: white;
            margin: 0 10px; }
          .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_pc li a {
            color: white;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 1.2rem;
            line-height: 1; }
      .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_sp {
        border-bottom: 1px solid white; }
        @media (min-width: 813px) {
          .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_sp {
            display: none; } }
        .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_sp .sort_form--top {
          align-items: center;
          margin-top: 10px; }
          .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_sp .sort_form--top img {
            align-self: center; }
        .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_sp .sort_form--bottom {
          padding-left: 35px; }
          .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_sp .sort_form--bottom li {
            margin-bottom: 5px; }
            .home #mainv .mainv--area_img .mainv--nav .mainv--nav_list_sp .sort_form--bottom li a {
              font-size: 16px;
              color: white; }
  @media (min-width: 481px) {
    .home #mainv .mainv--area_sort {
      max-width: 600px;
      position: absolute;
      top: 62%;
      left: 0;
      right: 0;
      margin: auto; } }
  .home #mainv .mainv--area_sort .area_sort-top {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer; }
    @media (max-width: 480px) {
      .home #mainv .mainv--area_sort .area_sort-top {
        height: 50px; } }
    .home #mainv .mainv--area_sort .area_sort-top:hover {
      opacity: 1; }
    .home #mainv .mainv--area_sort .area_sort-top .left {
      display: flex;
      align-items: center; }
      .home #mainv .mainv--area_sort .area_sort-top .left img {
        align-self: center;
        transition: all .4s; }
      .home #mainv .mainv--area_sort .area_sort-top .left p {
        line-height: 1;
        font-size: .875rem;
        color: #808080;
        margin-left: 40px; }
        @media (max-width: 812px) {
          .home #mainv .mainv--area_sort .area_sort-top .left p {
            font-size: .75rem;
            margin-left: 20px;
            line-height: 1.5em; } }
    .home #mainv .mainv--area_sort .area_sort-top .right {
      background-color: #005200;
      color: white; }
      @media (max-width: 812px) {
        .home #mainv .mainv--area_sort .area_sort-top .right {
          display: flex;
          align-items: center; } }
      .home #mainv .mainv--area_sort .area_sort-top .right p {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-style: italic;
        line-height: 1;
        letter-spacing: .2em;
        padding: 12px 32px; }
        @media (max-width: 812px) {
          .home #mainv .mainv--area_sort .area_sort-top .right p {
            padding: 0 32px; } }
  .home #mainv .mainv--area_sort .area_sort-bottom {
    box-sizing: border-box;
    padding: 20px 24px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none; }
    .home #mainv .mainv--area_sort .area_sort-bottom .title {
      line-height: 1;
      font-weight: bold;
      margin-bottom: 25px;
      font-size: 14px; }
    .home #mainv .mainv--area_sort .area_sort-bottom .sort-lists {
      width: 100%; }
      @media (max-width: 812px) {
        .home #mainv .mainv--area_sort .area_sort-bottom .sort-lists {
          width: 100%; } }
      .home #mainv .mainv--area_sort .area_sort-bottom .sort-lists li ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px; }
        .home #mainv .mainv--area_sort .area_sort-bottom .sort-lists li ul li {
          width: 31%;
          padding-bottom: 5px;
          border-bottom: 2px solid #0A950A; }
          .home #mainv .mainv--area_sort .area_sort-bottom .sort-lists li ul li a {
            font-size: 12px; }
  .home #mainv .mainv--area_sort.active .area_sort-top .left img {
    transform: rotate(90deg); }
  .home #mainv .mainv--area_news {
    width: 100%;
    display: flex;
    background: black;
    bottom: 0;
    position: absolute;
    height: 44px; }
    @media (max-width: 812px) {
      .home #mainv .mainv--area_news {
        flex-direction: column;
        position: relative;
        height: auto; } }
    .home #mainv .mainv--area_news p,
    .home #mainv .mainv--area_news a {
      color: white;
      line-height: 1; }
    .home #mainv .mainv--area_news_icon {
      background: #005200;
      line-height: 1;
      font-size: .9375rem;
      font-family: 'Lato', sans-serif;
      font-style: italic;
      font-weight: bold;
      min-width: 145px;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 812px) {
        .home #mainv .mainv--area_news_icon {
          background: transparent;
          font-size: 1.25rem;
          margin: 24px auto; } }
    .home #mainv .mainv--area_news_detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 25px;
      width: 100%;
      box-sizing: border-box; }
      @media (max-width: 812px) {
        .home #mainv .mainv--area_news_detail {
          padding-bottom: 30px; } }
      .home #mainv .mainv--area_news_detail .link_txt {
        display: flex;
        align-items: center; }
        @media (max-width: 812px) {
          .home #mainv .mainv--area_news_detail .link_txt {
            flex-direction: column;
            align-items: flex-start; } }
        .home #mainv .mainv--area_news_detail .link_txt .date {
          font-family: 'Lato', sans-serif;
          font-size: .875rem; }
        .home #mainv .mainv--area_news_detail .link_txt .ico_new {
          font-family: 'Lato', sans-serif;
          background: #005200;
          font-size: 12px;
          padding: 4px 12px;
          margin-left: 5px; }
        .home #mainv .mainv--area_news_detail .link_txt .top {
          display: flex;
          align-items: center; }
          @media (max-width: 812px) {
            .home #mainv .mainv--area_news_detail .link_txt .top {
              margin-bottom: 10px; } }
        .home #mainv .mainv--area_news_detail .link_txt .title {
          font-size: .875rem;
          margin-left: 10px; }
          @media (max-width: 812px) {
            .home #mainv .mainv--area_news_detail .link_txt .title {
              margin-left: 0;
              line-height: 1.5em; } }
      .home #mainv .mainv--area_news_detail .link_more {
        font-size: .875rem;
        display: flex;
        align-items: center; }
        @media (max-width: 812px) {
          .home #mainv .mainv--area_news_detail .link_more {
            display: none; } }
        .home #mainv .mainv--area_news_detail .link_more img {
          align-self: center;
          margin-left: 10px; }
  .home #mainv.mainv--img01 .mainv--area_img {
    background-image: url(../img/top/mainv--img01.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img01 .mainv--area_img {
        background-image: url(../img/top/mainv--img01_sp.jpg); } }
  .home #mainv.mainv--img02 .mainv--area_img {
    background-image: url(../img/top/mainv--img02.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img02 .mainv--area_img {
        background-image: url(../img/top/mainv--img02_sp.jpg); } }
  .home #mainv.mainv--img03 .mainv--area_img {
    background-image: url(../img/top/mainv--img03.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img03 .mainv--area_img {
        background-image: url(../img/top/mainv--img03_sp.jpg); } }
  .home #mainv.mainv--img04 .mainv--area_img {
    background-image: url(../img/top/mainv--img04.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img04 .mainv--area_img {
        background-image: url(../img/top/mainv--img04_sp.jpg); } }
  .home #mainv.mainv--img05 .mainv--area_img {
    background-image: url(../img/top/mainv--img05.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img05 .mainv--area_img {
        background-image: url(../img/top/mainv--img05_sp.jpg); } }
  .home #mainv.mainv--img06 .mainv--area_img {
    background-image: url(../img/top/mainv--img06.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img06 .mainv--area_img {
        background-image: url(../img/top/mainv--img06_sp.jpg); } }
  .home #mainv.mainv--img07 .mainv--area_img {
    background-image: url(../img/top/mainv--img07.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img07 .mainv--area_img {
        background-image: url(../img/top/mainv--img07_sp.jpg); } }
  .home #mainv.mainv--img08 .mainv--area_img {
    background-image: url(../img/top/mainv--img08.jpg); }
    @media (max-width: 480px) {
      .home #mainv.mainv--img08 .mainv--area_img {
        background-image: url(../img/top/mainv--img08_sp.jpg); } }

.home .square-link {
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 42px; }
  @media (max-width: 480px) {
    .home .square-link {
      display: none; } }

.home #sec_concept {
  background-color: #002700;
  width: 100%;
  padding: 80px 0;
  padding-left: 155px;
  position: relative;
  box-sizing: border-box; }
  @media (max-width: 812px) {
    .home #sec_concept {
      padding-left: 20px; } }
  @media (max-width: 480px) {
    .home #sec_concept {
      padding-left: 0;
      padding: 40px 0;
      padding-bottom: 300px; } }
  .home #sec_concept .link_cover {
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: white;
    transition: all .4s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .home #sec_concept .link_cover:hover {
      opacity: .4; }
    @media (max-width: 812px) {
      .home #sec_concept .link_cover {
        display: none; } }
  .home #sec_concept .c--btn_more {
    position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
    margin: auto; }
    @media (min-width: 481px) {
      .home #sec_concept .c--btn_more {
        display: none; } }
  @media (max-width: 480px) {
    .home #sec_concept .concept-left {
      padding: 0 30px; } }
  .home #sec_concept .concept-left .catch {
    font-family: minion-pro-display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 70px;
    color: white;
    margin-bottom: 50px; }
    @media (max-width: 480px) {
      .home #sec_concept .concept-left .catch {
        font-size: 38px;
        text-align: center;
        line-height: 1.3em; } }
  .home #sec_concept .concept-left .detail {
    line-height: 2em;
    margin-bottom: 40px;
    color: white; }
    @media (max-width: 480px) {
      .home #sec_concept .concept-left .detail {
        text-align: center;
        font-size: 14px; } }
  .home #sec_concept .concept-bg {
    position: absolute;
    height: 100%;
    width: 50%;
    background-image: url(../img/top/concept_img01.png);
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-position: right;
    top: 0;
    right: 0; }
    @media (max-width: 812px) {
      .home #sec_concept .concept-bg {
        background-size: 100% auto; } }
    @media (max-width: 480px) {
      .home #sec_concept .concept-bg {
        background-image: url(../img/top/concept_img01_sp.png);
        width: 100%;
        height: 400px;
        background-size: 100% auto;
        background-position: center;
        bottom: 50px;
        top: auto; } }

.home #sec_submenu {
  background-color: #002700;
  padding: 100px 0; }
  @media (max-width: 480px) {
    .home #sec_submenu {
      padding: 20px 0; } }
  .home #sec_submenu .sec_submenu-wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto; }
  .home #sec_submenu .sec_submenu-flex {
    display: flex;
    flex-wrap: wrap; }
  .home #sec_submenu .sec_submenu-txt {
    width: 50%;
    box-sizing: border-box;
    padding: 0 50px;
    position: absolute;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%); }
    @media (max-width: 480px) {
      .home #sec_submenu .sec_submenu-txt {
        width: 100%;
        position: relative;
        top: auto;
        transform: initial;
        padding: 0 20px;
        padding-bottom: 80px; } }
    .home #sec_submenu .sec_submenu-txt .title {
      font-size: 26px;
      color: #005200;
      line-height: 1.5em;
      margin-bottom: 30px; }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-txt .title {
          font-size: 22px;
          font-weight: bold;
          letter-spacing: 0;
          margin: 20px 0; } }
      .home #sec_submenu .sec_submenu-txt .title .en {
        font-family: 'Lato', sans-serif;
        font-style: italic; }
    .home #sec_submenu .sec_submenu-txt .detail {
      font-size: .875rem;
      color: #005200;
      line-height: 1.8em;
      letter-spacing: 0; }
  .home #sec_submenu .sec_submenu-link_cover {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    z-index: 8;
    transition: all .4s;
    background-color: white;
    opacity: 0; }
    .home #sec_submenu .sec_submenu-link_cover:hover {
      opacity: .6; }
    @media (max-width: 480px) {
      .home #sec_submenu .sec_submenu-link_cover {
        display: none; } }
  .home #sec_submenu .sec_submenu-cell {
    display: flex;
    background-color: white;
    position: relative; }
    @media (max-width: 480px) {
      .home #sec_submenu .sec_submenu-cell {
        display: block;
        margin-bottom: 20px; } }
    .home #sec_submenu .sec_submenu-cell .sec_submenu-img {
      width: 52%;
      position: relative;
      z-index: 10; }
      .home #sec_submenu .sec_submenu-cell .sec_submenu-img:not(img) {
        display: none; }
        @media (max-width: 480px) {
          .home #sec_submenu .sec_submenu-cell .sec_submenu-img:not(img) {
            display: block; } }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-cell .sec_submenu-img {
          width: 100%; } }
    .home #sec_submenu .sec_submenu-cell .submenu-more {
      font-size: .75rem;
      color: #A2A2A2;
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding-right: 20px; }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-cell .submenu-more {
          padding: 20px 0;
          position: absolute;
          width: 50%;
          right: 0;
          bottom: 0;
          padding: 20px 0;
          text-align: center;
          font-size: 1rem;
          color: white;
          background-color: #005200; } }
      .home #sec_submenu .sec_submenu-cell .submenu-more:before {
        content: "";
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 8px;
        height: 8px;
        border-top: 1px solid #005200;
        border-right: 1px solid #005200;
        transform: rotate(45deg);
        position: absolute; }
        @media (max-width: 480px) {
          .home #sec_submenu .sec_submenu-cell .submenu-more:before {
            width: 13px;
            height: 13px;
            border-top: 3px solid white;
            border-right: 3px solid white; } }
    .home #sec_submenu .sec_submenu-cell.cell02 {
      flex-direction: row-reverse; }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-cell.cell02 {
          flex-direction: column; } }
      .home #sec_submenu .sec_submenu-cell.cell02 .sec_submenu-txt {
        left: 0;
        right: auto; }
      .home #sec_submenu .sec_submenu-cell.cell02 .sec_submenu-link_cover {
        right: auto;
        left: 0; }
      .home #sec_submenu .sec_submenu-cell.cell02 .submenu-more {
        right: auto;
        left: 20px; }
        @media (max-width: 480px) {
          .home #sec_submenu .sec_submenu-cell.cell02 .submenu-more {
            left: auto;
            right: 0; } }
    .home #sec_submenu .sec_submenu-cell.cell03, .home #sec_submenu .sec_submenu-cell.cell04 {
      width: 50%; }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-cell.cell03, .home #sec_submenu .sec_submenu-cell.cell04 {
          width: 100%;
          display: flex;
          flex-direction: row; } }
      .home #sec_submenu .sec_submenu-cell.cell03 .sec_submenu-txt, .home #sec_submenu .sec_submenu-cell.cell04 .sec_submenu-txt {
        padding: 0 22px; }
        @media (max-width: 480px) {
          .home #sec_submenu .sec_submenu-cell.cell03 .sec_submenu-txt, .home #sec_submenu .sec_submenu-cell.cell04 .sec_submenu-txt {
            padding: 0 10px;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 70px;
            width: 50%;
            box-sizing: border-box; } }
        .home #sec_submenu .sec_submenu-cell.cell03 .sec_submenu-txt .title, .home #sec_submenu .sec_submenu-cell.cell04 .sec_submenu-txt .title {
          font-size: 22px;
          line-height: 1.5em; }
          @media (max-width: 480px) {
            .home #sec_submenu .sec_submenu-cell.cell03 .sec_submenu-txt .title, .home #sec_submenu .sec_submenu-cell.cell04 .sec_submenu-txt .title {
              font-size: 18px; } }
      .home #sec_submenu .sec_submenu-cell.cell03 .submenu-more, .home #sec_submenu .sec_submenu-cell.cell04 .submenu-more {
        position: absolute; }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-cell.cell03 img, .home #sec_submenu .sec_submenu-cell.cell04 img {
          display: none; } }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-cell.cell03 .sec_submenu-img:not(img), .home #sec_submenu .sec_submenu-cell.cell04 .sec_submenu-img:not(img) {
          width: 50%;
          height: 100%;
          background-size: cover; } }
    @media (max-width: 480px) {
      .home #sec_submenu .sec_submenu-cell.cell03 .sec_submenu-img {
        background-image: url(../img/top/submenu_img03_sp.jpg); } }
    .home #sec_submenu .sec_submenu-cell.cell04 {
      margin-bottom: 0; }
      @media (max-width: 480px) {
        .home #sec_submenu .sec_submenu-cell.cell04 .sec_submenu-img {
          background-image: url(../img/top/submenu_img04_sp.jpg); } }

.home #sec_reserve {
  position: relative; }
  .home #sec_reserve .link_cover {
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: white;
    transition: all .4s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .home #sec_reserve .link_cover:hover {
      opacity: .4; }
    @media (max-width: 812px) {
      .home #sec_reserve .link_cover {
        display: none; } }
  .home #sec_reserve .reserve-subv {
    height: 400px;
    width: 100%;
    background-image: url(../img/top/reserve_bg.jpg);
    background-size: cover;
    position: relative; }
    @media (max-width: 480px) {
      .home #sec_reserve .reserve-subv {
        height: 250px;
        background-image: url(../img/top/reserve_bg_sp.jpg); } }
  .home #sec_reserve .reserve-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9.375%;
    margin: auto; }
    @media (max-width: 480px) {
      .home #sec_reserve .reserve-img {
        width: 130px;
        left: 5%;
        top: 5%;
        bottom: auto; } }
  .home #sec_reserve .reserve-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white; }
    @media (max-width: 480px) {
      .home #sec_reserve .reserve-txt {
        top: 50%;
        left: 5%;
        transform: initial;
        font-size: 20px; } }
  .home #sec_reserve .reserve-link {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    width: 42px;
    height: 42px; }
    @media (max-width: 480px) {
      .home #sec_reserve .reserve-link {
        background-color: transparent; } }
    .home #sec_reserve .reserve-link:before {
      content: "";
      top: 0;
      left: 10px;
      bottom: 0;
      margin: auto;
      width: 12px;
      height: 12px;
      border-top: 3px solid #005200;
      border-right: 3px solid #005200;
      position: absolute;
      transform: rotate(45deg); }
      @media (max-width: 480px) {
        .home #sec_reserve .reserve-link:before {
          border-top: 3px solid white;
          border-right: 3px solid white; } }

.home #sec_news {
  padding: 130px 0; }
  @media (max-width: 480px) {
    .home #sec_news {
      padding: 80px 0 20px; } }
  .home #sec_news .sec_news-wrap {
    max-width: 1000px;
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between; }
    @media (max-width: 480px) {
      .home #sec_news .sec_news-wrap {
        flex-direction: column; } }
  .home #sec_news .sec_news-root {
    width: 14.4%; }
    @media (max-width: 480px) {
      .home #sec_news .sec_news-root {
        width: 100%; } }
    .home #sec_news .sec_news-root img {
      margin-bottom: 20px; }
      @media (max-width: 480px) {
        .home #sec_news .sec_news-root img {
          margin: auto;
          margin-bottom: 56px;
          display: block; } }
    .home #sec_news .sec_news-root .c--btn_more {
      font-size: .875rem; }
      @media (max-width: 480px) {
        .home #sec_news .sec_news-root .c--btn_more {
          display: none; } }
      .home #sec_news .sec_news-root .c--btn_more p {
        margin: 16px 0; }
  .home #sec_news .sec_news-list {
    width: 77%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 480px) {
      .home #sec_news .sec_news-list {
        width: 100%; } }
    .home #sec_news .sec_news-list-cell {
      width: 31%; }
      @media (max-width: 480px) {
        .home #sec_news .sec_news-list-cell {
          width: 100%;
          margin-bottom: 20px; } }
  .home #sec_news .sec_news-thumb {
    width: 100%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    padding-top: 100%;
    background-image: url(../img/post/news_thumb.jpg);
    background-size: cover;
    display: block; }
    @media (max-width: 480px) {
      .home #sec_news .sec_news-thumb {
        padding-top: 60%; } }
    .home #sec_news .sec_news-thumb .img-cover {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: black;
      opacity: .3;
      top: 0; }
    .home #sec_news .sec_news-thumb img {
      width: 100%; }
    .home #sec_news .sec_news-thumb .c--ico_new {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; }
  .home #sec_news .sec_news-txt {
    position: absolute;
    bottom: 0;
    padding: 18px;
    padding-bottom: 28px;
    width: 100%;
    box-sizing: border-box; }
    @media (max-width: 480px) {
      .home #sec_news .sec_news-txt {
        padding-bottom: 60px; } }
    .home #sec_news .sec_news-txt p {
      color: white;
      line-height: 1.5em; }
    .home #sec_news .sec_news-txt .more {
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: .875rem;
      position: absolute;
      bottom: 18px;
      right: 18px;
      cursor: pointer;
      padding-right: 15px; }
      .home #sec_news .sec_news-txt .more:before {
        content: "";
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 6px;
        height: 6px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(45deg);
        position: absolute; }
  .home #sec_news .sec_news-more {
    margin: auto;
    width: 184px; }
    @media (min-width: 481px) {
      .home #sec_news .sec_news-more {
        display: none; } }

.home #sec_safebus {
  background-color: #F4F4F4;
  padding: 100px 0 90px; }
  .home #sec_safebus .safebus-wrap {
    width: 51.7%;
    margin: auto;
    max-width: 700px; }
    @media (max-width: 480px) {
      .home #sec_safebus .safebus-wrap {
        width: 90%; } }
  .home #sec_safebus .safebus-title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #005200;
    margin-bottom: 30px; }
    @media (max-width: 480px) {
      .home #sec_safebus .safebus-title {
        font-size: 18px; } }
  .home #sec_safebus .safebus-detail {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 480px) {
      .home #sec_safebus .safebus-detail {
        flex-direction: column; } }
    .home #sec_safebus .safebus-detail img {
      width: 29.4%; }
      @media (max-width: 480px) {
        .home #sec_safebus .safebus-detail img {
          width: 40%;
          margin: auto;
          margin-bottom: 20px; } }
  .home #sec_safebus .safebus-txt {
    width: 66.465%; }
    @media (max-width: 480px) {
      .home #sec_safebus .safebus-txt {
        width: 100%; } }
    .home #sec_safebus .safebus-txt-detail {
      line-height: 2em;
      margin-bottom: 20px; }
    .home #sec_safebus .safebus-txt-en {
      font-size: 13px;
      font-family: 'Lato', sans-serif; }
