@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700|Quicksand:400,500,600,700&display=swap');

body {

    font-family:
        'Noto Sans JP',
        "メイリオ",
        system-ui,
        sans-serif;
    font-weight: normal;
    background: none;
}

p {
    font-size: 16px;
}

$tr_en: 'Quicksand',
sans-selif;

// size
$la:1600px;
$nottab:1025px;
$tab:1024px;
$sp:600px;
$notsp: 601px;

//color
$col_yel:#FDE94C;
$col_sgre:#8DDDC4;
$col_lgre:#00D392;
$col_dgre:#016546;
$col_tgre:#02835B;
$col_mgre:#8FC31F;
$col_rbla:#3B4043;
$col_bbla:#333333;
$col_lbla:#707070;

@mixin la {
    @media (min-width: ($la)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

@mixin dev-tab {
    @media (max-device-width: ($tab)) {
        @content;
    }
}

@mixin nottab {
    @media (min-width: ($nottab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

@mixin notsp {
    @media (min-width: ($notsp)) {
        @content;
    }
}

@mixin ie {

    @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
        @content;
    }
}

@mixin edge {
    @supports (-ms-ime-align:auto) {
        @content;
    }
}

@mixin en {
    font-family: $tr_en;
}

.pc {
    @include notsp {
        display: block;
    }

    @include sp {
        display: none;
    }
}

.sp {
    @include notsp {
        display: none;
    }

    @include sp {
        display: block;
    }
}


a,
p,
h1,
h2,
h3,
h4 {
    color: $col_rbla;
}

a {
    text-decoration: none;
    transition: opacity .4s;

    &:hover {
        opacity: .66;
    }
}

body {
    background-color: #F5FDF6;
}