.page-template-page-contact {
    .p-contact__inr {
        width: 90%;
        max-width: 725px;
        margin: auto;
    }

    .contact__catch {
        padding: 80px 0 100px;

        @include sp {
            padding: 60px 0;
        }

        .c--headingIcon {
            margin-bottom: 80px;

            @include sp {
                margin-bottom: 60px;
            }
        }

        .contact__catchText {
            font-size: 1.6rem;
            line-height: 2em;
            text-align: center;

            @include sp {
                font-size: 1.3rem;
                text-align: left;
            }

            a {
                text-decoration: underline;
            }
        }

    }

    .contact__form {
        background-color: $col_vlblue;
        padding: 100px 0;

        .p-contact__inr {
            .contact__content {
                width: 100%;
                padding-top: 100px;
                margin-top: -100px;

                .contact__contentCell {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 35px;
                    align-items: flex-start;

                    .contact__contentCellTitle {
                        width: 35.4%;

                        @include tab {
                            width: 100%;
                            margin-bottom: 10px;
                        }

                        label {
                            width: 100%;
                            display: flex;
                            align-items: center;

                            p {
                                font-size: 1.6rem;
                                color: $col_dblue;
                                line-height: 1.6em;

                                span {
                                    &.contact__contentTitle--need {
                                        color: red;
                                        font-size: 1rem;
                                        margin-left: 10px;
                                    }

                                    &.contact__contentTitle--option {
                                        font-size: 1.2rem;
                                        color: $col_dblue;
                                    }
                                }
                            }


                        }

                    }

                    .contact__contentInput {
                        width: 64.6%;

                        @include tab {
                            width: 100%;
                        }

                        .wpcf7-list-item {
                            input[type="radio"] {
                                margin-bottom: 8px;
                            }

                            .wpcf7-list-item-label {
                                font-size: 1.6rem;

                                @include sp {
                                    font-size: 1.4rem;
                                }
                            }
                        }


                        input[type="text"],
                        input[type="tel"],
                        input[type="email"],
                            {
                            height: 32px;


                        }

                        input[type="text"],
                        input[type="tel"],
                        input[type="email"],
                        textarea {
                            background-color: white;
                            width: 100%;
                            border: 1px solid $col_lblue;
                            padding: 10px;
                            box-sizing: border-box;
                            transition: all .4s;

                            @include sp {
                                font-size: 16px;
                            }

                            &.wpcf7c-conf {
                                background-color: $col_lblue;
                                color: white;
                            }
                        }


                    }
                }
            }

            .submit-area {
                display: flex;
                justify-content: space-around;

                br {
                    display: none;
                }

                .ajax-loader {
                    display: none;
                }
            }
        }
    }
}